*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Rubik Dirt";
    src: url(/Fonts/RubikDirt-Regular.ttf);
}

html{
    font-size: 62.5%;
}

.main-container{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(167, 123, 218);
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.card-container{
    position: relative;
    width: 54rem;
    height:75rem ;
    margin: 2rem auto auto;
    background-color: aqua;
    border: 2px rgb(250, 227, 19) solid;
    background-color: black;
}
 
.card-logo, .card-name{
    display: inline-flex;
    position: relative;
    bottom: 1rem;
    right: 5rem;
    background-image: linear-gradient(120deg, #a559d1, #8c2aaa, #000000);
    border: 2px white solid;
    border-radius: 10px;
}

.club-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.card-name{
    position:absolute;
    width: auto;
    height: 75rem;
    display: flex;
    right: -3rem;
}

.nombre{
    font-family: Rubik Dirt;
    font-size: 8rem;
    color: white;
    border-radius: 10px;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.card-logo{
    width: 30rem;
    height: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 110%;
    width: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0.001rem;
    left: 0.01rem;
}
