*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Rubik Dirt";
    src: url(/Fonts/RubikDirt-Regular.ttf);
}

html{
    font-size: 62.5%;
}

.main-container{
    width: 100vw;
    padding-top: 1rem ;
    min-height: 100vh;
    background-color: #000000;
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.card-container{
    position: relative;
    width: 54rem;
    height:75rem ;
    margin: 2rem auto auto;
    background-image: url(/Imagenes/CR7-1.jpg);
    background-size: cover;
    background-position: center;
    border: 2px #D4AF37 solid;
}

.card-logo, .card-name{
    display: inline-flex;
    position: relative;
    bottom: 1rem;
    right: 5rem;
    background-image: linear-gradient(120deg, #3B889A, #325e68, #000000);
    border: 2px #D4AF37 solid;
    border-radius: 10px;
}

.club-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.card-name{
    position:absolute;
    width: auto;
    height: 75rem;
    display: flex;
    right: -3rem;
    box-shadow: -8px 7px 21px 2px rgba(0,0,0,0.74);
    -webkit-box-shadow: -8px 7px 21px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: -8px 7px 21px 2px rgba(0,0,0,0.74);
}

.nombre{
    font-family: Rubik Dirt;
    font-size: 8rem;
    color: white;
    border-radius: 10px;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.card-logo{
    width: 30rem;
    height: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 18px 15px 21px 2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 18px 15px 21px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 18px 15px 21px 2px rgba(0,0,0,0.74);
}

.logo img{
    height: 110%;
    width: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0.001rem;
    left: 0.01rem;
}

.descriptive-text{
    width: 90%;
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-image: url(/Imagenes/CR7-1.jpg);
    background-size: cover;
    background-position:top;
    background-position-y: 75rem;
    box-shadow: 13px -11px 38px -6px rgba(0,0,0,0.74);
    -webkit-box-shadow: 13px -11px 38px -6px rgba(0,0,0,0.74);
    -moz-box-shadow: 13px -11px 38px -6px rgba(0,0,0,0.74);
}

.descriptive-text p{
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.firma{
    position: absolute;
    bottom: 9rem;
    right: 15rem;
}

.firma img{
    width: 30rem;
}
